@import "styles/variables/_";

.footer {
  max-width: 100%;
  display: flex;
  padding: 10px 15px;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;

  @include s {
    flex-direction: column;
    row-gap: 30px;
  }
}

.footer__ {
  &wrapper {
    display: flex;
    align-items: center;
    column-gap: 20px;
  }
  
  &logo-link {
    height: 24px;
  }
}
