@import 'styles/variables/_';

html {
  height: 100%;
  display: flex;
}

body,
#root,
.app {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

// debug

svg {
  display: inline-block;
}

.button {
  cursor: pointer;
}

.audiocall {
  font-size: 18px;
  background: $audiocall-bg;
  color: $white;
  fill: currentColor;
  flex-grow: 1;
}

.audiocall__ {
  &container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 21px;
    padding: 50px;
    min-height: 100%;

    &_home {
      text-align: center;
    }

    &_round {
      padding: 170px 50px 70px;
      gap: 40px;
    }
  }

  &fixed-controls {
    position: fixed;
    top: 40px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 170px;
  }

  &controls-button svg {
    height: 48px;
    width: 48px;
  }

  &content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  &game-header {
    margin: 20px 0 0;
    font-size: 64px;
    font-weight: bold;
  }
  &game-desc {
    font-size: 16px;
    font-style: italic;
  }

  &difficulty-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px 0 40px;
  }

  &difficulty-buttons {
    display: flex;
    justify-content: center;
    gap: 30px;
  }

  &difficulty-button {
    height: 50px;
    width: 50px;
    border: 2px solid;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

    &_selected {
      color: $black;

      &:nth-child(1) {
        background: $light-blue;
      }
      &:nth-child(2) {
        background: $blue;
      }
      &:nth-child(3) {
        background: $yellow;
      }
      &:nth-child(4) {
        background: $green;
      }
      &:nth-child(5) {
        background: $peach;
      }
      &:nth-child(6) {
        background: $orange;
      }
    }

    &:hover {
      color: $black;
    }

    &:nth-child(1) {
      border-color: $light-blue;
      &:hover {
        background: $light-blue;
      }
    }
    &:nth-child(2) {
      border-color: $blue;
      &:hover {
        background: $blue;
      }
    }
    &:nth-child(3) {
      border-color: $yellow;
      &:hover {
        background: $yellow;
      }
    }
    &:nth-child(4) {
      border-color: $green;
      &:hover {
        background: $green;
      }
    }
    &:nth-child(5) {
      border-color: $peach;
      &:hover {
        background: $peach;
      }
    }
    &:nth-child(6) {
      border-color: $orange;
      &:hover {
        background: $orange;
      }
    }
  }

  &homepage-buttons {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  &homepage-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 140px;
    border: 2px solid $white;
    border-radius: 5px;

    &:hover {
      color: $black;

      &:nth-child(1) {
        background: $orange;
        border-color: $orange;
      }

      &:nth-child(2) {
        background: $green;
        border-color: $green;
      }
    }
  }

  &speaker-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 3px;
    border-radius: 50%;

    &_big {
      height: 130px;
      width: 130px;

      svg {
        height: 107px;
        width: 107px;
      }
    }

    &_small svg {
      height: 34px;
      width: 34px;
    }

    svg {
      display: block;
    }
  }

  &options {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    align-items: center;
    gap: 25px 20px;
    flex-grow: 1;
    text-transform: uppercase;
  }

  &option {
    font-size: 18px;
    display: flex;
    gap: 10px;
    padding: 10px;
    border: 1px solid;
    border-radius: 5px;

    &-index {
      display: flex;
      justify-content: center;
      font-size: 14px;
      height: 20px;
      width: 20px;
      border: 1px solid;
      border-radius: 50%;
    }
  }

  &round-button {
    .button {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
      width: 157px;
      border: 2px solid;
      border-radius: 5px;
    }
  }

  &answer {
    color: $orange;

    &_correct {
      color: $green;
    }
  }

  &word-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  &word-image {
    height: 77px;
    width: 77px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
  }

  &word {
    font-size: 36px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 15px;
    text-transform: lowercase;
  }

  &tabs-container {
    color: $black;
    background: $white;
    display: flex;
    flex-direction: column;
    flex-basis: 550px;
    min-width: 600px;
    border-radius: 10px;
  }

  &tabs-wrapper {
    width: 100%;
  }

  &tabs {
    min-height: 0;

    .MuiTabs-flexContainer {
      background: $neutral-gray;
      justify-content: space-between;
      border-radius: 10px 10px 0 0;
    }
    .MuiTabs-indicator {
      display: none;
    }

    .MuiTab-root {
      flex-grow: 1;
    }
  }

  &tab {
    font-family: inherit;
    text-transform: uppercase;
    font-weight: lighter;
    color: $black;
    font-size: 24px;
    line-height: 40px;
    min-height: 0;
    padding: 0;
    letter-spacing: initial;
    border-radius: 10px 10px 0 0;
    transition: background-color 0.3s ease-in-out;

    &.Mui-selected {
      color: $black;
      background: $white;
    }

    .MuiTouchRipple-root {
      display: none;
    }
  }

  &tab-panel {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    &[hidden] {
      display: none;
    }

    &_0 {
      justify-content: center;
      align-items: center;
      gap: 50px;
    }
  }
}

.panel-result {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0 60px;
  gap: 50px;
}

.panel-result__ {
  &title {
    font-size: 24px;
    margin: 0;
  }

  &chart-container {
    height: 250px;
    width: 250px;
    display: flex;
  }

  &chart {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    background-color: $neutral-gray;
    background-image: url('../../assets/images/green-bg.png');
    background-repeat: no-repeat;
    background-position: bottom;
    border-radius: 50%;
  }

  &chart-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 150px;
    width: 150px;
    background: $white;
    border-radius: 50%;
  }

  &chart-score {
    font-size: 36px;
  }

  &btns {
    display: flex;
    gap: 40px;
  }

  &btn {
    font-size: 14px;
    width: 200px;
    height: 50px;
    line-height: 50px;
    border: 0;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    border-radius: 5px;
  }

  &exit {
    background: $orange;
  }

  &replay {
    background: $light-blue;
  }
}

.panel-words {
  display: flex;
  flex-direction: column;
  height: 450px;
  padding-left: 50px;
  padding-right: 50px;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $gray;
  }

  &::-webkit-scrollbar-track {
    background-color: $light-gray;
  }
}

.panel-words__ {
  &heading {
    width: 100%;
    padding: 2px 40px;
    font-size: 16px;
    margin-bottom: 15px;
    margin-top: 30px;
  }

  &repeat {
    & .panel-words__heading {
      border-bottom: 3px solid $orange;
    }

    .panel-words__words-count {
      background-color: $orange;
    }
  }

  &known {
    .panel-words__heading {
      border-bottom: 3px solid $green;
    }

    .panel-words__words-count {
      background-color: $green;
    }
  }

  &words-count {
    border-radius: 20px;
    padding: 1px 9px;
    margin-left: 10px;
  }

  &words {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  &item {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
  }

  &word {
    font-weight: bold;
  }
}
