@import "styles/variables/_";

.auth {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 84px);

  @include l {
    padding: 0 15px;
  }

  @include s {
    padding: 0 5px;
  }
}

.auth__ {
  &container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    width: 650px;
    height: 440px;
    background-color: $light-gray;
    box-shadow: 0px 4px 4px $shadow-medium;
    border-radius: 10px;
    
    @include l {
      justify-content: center;
    }

    @include s {
      background-color: $white;
      box-shadow: none;
      padding: 0;
      width: 100%;
    }
  }
  &svg {
    @include l {
      display: none;
    }
  }

  &form-container {
    width: 350px;
    padding: 0 30px;
  }

  &tabs-wrapper {
    width: 100%;
  }

  &tabs {
    .MuiTabs-flexContainer{
      justify-content: space-between;
    }
    .MuiTabs-indicator {
      height: 2px;
      background-color: $black;
      border-radius: 3px;
    }
  }

  &tab {
    font-family: inherit;
    text-transform: capitalize;
    font-weight: 700;
    color: $neutral-gray;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: initial;
    border-radius: 10px;
    transition: background-color .3s ease-in-out ;

    &:hover {
      background-color: $shadow-light;
    }

    &.Mui-selected {
      color: $black;
    }
  }
  
  &tab-panel {
    height: 100%;
  }
}
