$white: #ffffff;
$black: #000000;

$light-gray: #f9fbfc;
$cards-gray: #edf0f4;
$bg-gray: #f3f3f3;
$neutral-gray: #c1ccdb;
$gray: #3C4758;

$light-blue: #8cd9ff;
$blue: #40c0ff;
$accent-blue: #1d98f1;
$yellow: #ffab19;
$green: #2dcb92;
$peach: #ffa587;
$orange: #ff7e53;
$purple: #889bff;
$pink: #f063af;
$red: #f06363;

$error-red: #d32f2f;

$audiocall-bg: linear-gradient(
  258.02deg,
  #166b86 0%,
  #0f3875 25.87%,
  #273a7d 72.96%,
  #11697c 99.36%
);

$sprint-bg: linear-gradient(
  104.97deg,
  #8d720f 12.64%,
  #0e5733 34.25%,
  #105620 68.59%,
  #659500 94.02%
);

$l: 768px;
$s: 360px;

@mixin l {
  @media screen and (max-width: $l) { @content; }
}
@mixin s {
  @media screen and (max-width: $s) { @content; }
}
