@import 'styles/variables/_.scss';

.wordcard {
  max-width: 768px;
  width: calc(100% - 10px);
  padding: 20px;
  border-radius: 15px;
  border-top: 5px solid var(--color);
  background-color: $white;

  & p {
    margin: 0;
  }
}

.wordcard_hidden {
  height: 0;
  padding: 0;
  border: none;
  overflow: hidden;
  transition: 0.2s;
}

.wordcard-top {
  display: flex;
  justify-content: space-between;
}

.wordcard-top__content {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.wordcard-top__heading {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 15px;
}

.wordcard__word {
  margin: 0;
}

.wordcard__word {
  font-size: 18px;
}

.wordcard__trsc {
  color: $gray;
}

.wordcard-top__controls-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  flex-grow: 2;
}

.wordcard-top_auth {
  justify-content: space-between;
}

.wordcard-top_auth .wordcard-top__controls {
  display: flex;
}

.wordcard-top__controls {
  display: none;
  column-gap: 10px;
}

.wordcard__btn {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 25px;
  height: 25px;
  padding: 0;
  font-family: inherit;
  font-size: 14px;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.btn_expand {
  width: 100%;
}

.icon_expand {
  transition: 0.5s;
}

.btn_expand_opened .icon_expand {
  transform: rotate(180deg);
}

.wordcard__icon_sound,
.wordcard__icon_check,
.wordcard__icon_star,
.wordcard__icon_chart {
  stroke: $black;
  transition: 0.5s;
}

.wordcard__icon_check_active {
  stroke: $green;
}
.wordcard__icon_star_active {
  stroke: $purple;
}

.wordcard-bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 20px;
  column-gap: 20px;
}

.wordcard-bottom__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  row-gap: 10px;
}

.wordcard__img {
  width: 145px;
  height: 165px;
  border-radius: 5px;
  object-fit: cover;
  object-position: center;
}

.wordcard__desc {
  display: flex;
  column-gap: 10px;
}

.meaning__text,
.example__text {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  max-width: 470px;
}

.meaning__title,
.example__title {
  font-weight: bold;
}

.meaning__ru,
.example__ru {
  font-style: italic;
}

.wordcard__popover {
  display: flex;
  flex-direction: column;
  padding: 10px;
  row-gap: 5px;
  min-width: 200px;

  & p {
    margin: 0;
  }
}

.popover__title {
  position: relative;
  &::after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    border-bottom: 3px solid $gray;
    border-radius: 15px;
    width: 100%;
    height: 3px;
  }
}

.popover__audiocall,
.popover__sprint {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popover__score {
  background-color: $gray;
  color: $white;
  border-radius: 50px;
  padding: 1px 5px;
}

.example__title {
  min-width: 70px;
}

@media screen and (max-width: 600px) {
  .wordcard-bottom {
    flex-direction: column;
  }

  .wordcard__img {
    width: 100%;
    height: 60px;
  }

  .wordcard__desc {
    flex-direction: column;
    row-gap: 10px;
  }
  .meaning__text,
  .example__text {
    max-width: initial;
  }

  .wordcard-bottom__content {
    margin-top: 1em;
  }
}

.link_to {
  display: block;
  width: 100%;
  height: 100%;
  background-image: url(../../../assets/icons/sprint.svg);
  background-size: contain;
}
