@import '../../../styles/variables';

.textbook-card {
  display: flex;
  width: 350px;
  height: 120px;
  background-color: $cards-gray;
  border-radius: 15px;
  transition: 0.5s;

  &:nth-child(1) .textbook-card__level {
    background-color: $light-blue;
  }

  &:nth-child(2) .textbook-card__level {
    background-color: $blue;
  }

  &:nth-child(3) .textbook-card__level {
    background-color: $pink;
  }

  &:nth-child(4) .textbook-card__level {
    background-color: $green;
  }

  &:nth-child(5) .textbook-card__level {
    background-color: $yellow;
  }

  &:nth-child(6) .textbook-card__level {
    background-color: $orange;
  }

  &:nth-child(7) .textbook-card__level {
    background-color: $purple;
  }

  &:hover,
  &:active {
    box-shadow: 0px 3px 2px 0px rgb(0 0 0 / 20%),
      0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 1px 0px rgb(0 0 0 / 12%);
  }
}

.textbook-card__level {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28.6%;
  height: 100%;
  margin: 0;
  font-size: 36px;
  font-weight: bold;
  background-color: $blue;
  border-radius: 15px;
}

.textbook-card__title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
}

.textbook-card__content {
  max-width: 205px;
  margin-top: 20px;
  margin-left: 20px;
}

.textbook-card__desc {
  margin: 0;
}
